* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #22c1c3;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: 100vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    background:transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

h2{
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: black;
    text-decoration: transparent;
}

#height{
    padding: 10px 10px;
    border: none;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: black;
    border-radius: 10px;
}

#CmOrM{
    padding: 10px 10px;
    border: none;
    background-color:#22c1c3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: black;
    border-radius: 10px;
}
#CmOrM>option{
    border: none;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heightDiv{
    margin-bottom: 15px;
}

#weight{
    padding: 10px 10px;
    border: none;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

#calculateBtn{
    padding: 10px 25px;
    background: rgb(57, 57, 233);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
}

#calculateBtn:hover{
    background-color: blue;
}

#result{
    padding: 10px 20px;
    background: transparent;
    font-size: large;
}