* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #8309ac, #4110ac, #0b74dd);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

#input-date{
    background: transparent;
    border: 1px solid gray;
    padding: 10px 25px;
    font-size: 20px;
    color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    border-radius: 10px;
}

#calc-btn{
    padding: 12px 25px;
    border-radius: 20px;
    background: transparent;
    color: wheat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 14px;
    cursor: pointer;
}

#calc-btn:hover{
    transform: scale(1.02);
    transition: 1s;
}